body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  position: relative;
  
}

.box-1 {
  max-width: 100%;  
  position: absolute;
  top: 45%;
  
  background-color: rgba(0, 255, 255, .4);
  border-radius: 2em;
    
}

